@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ECEFF1;
  margin: 0;
  font-family: rws-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2; 
  letter-spacing: -0.5px;
}

.section{
  background: linear-gradient(135deg, #1D41BB, #D12566);;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'rws-bold';
  src: url('./assets/Fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'rws-semi-bold';
  font-weight: 600;
  src: url('./assets/Fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'rws-normal';
  src: url('./assets/Fonts/Roboto-Regular.ttf') format('truetype');
}


/* Custom scrollbar styling */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(160, 160, 160, 0.5); /* Color of the scrollbar thumb */
  border-radius: 50px; /* Rounded corners of the scrollbar thumb */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
  border-radius: 50px; /* Rounded corners of the scrollbar track */
}

.imagesTeam{
  border: 3px solid #007373
}

.custom-scrollbar {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: rgb(208, 208, 208) #f4f4f4;
}

.custom-scrollbar::-webkit-scrollbar {
  border-radius: 50px;
  width: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f4f4f4;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray; 
  border-radius: 3px;
  border: 1px solid #f4f4f4;
}
